@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,800&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  font-family: 'Bricolage Grotesque', sans-serif;
  background-color: #1a1a1a;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: auto;
  backdrop-filter: blur(12px);
  padding: 0 50px;
}

h1 {
  font-weight: 800;
  font-size: 55px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a img {
  aspect-ratio: 1 / 1;
  width: 40px;
}

.icons {
  display: flex;
  gap: 20px;
}

